trigger:
  branches:
    include:
      - main
      - features/*
    exclude:
      - prod

pool:
  name: akkc_agent

stages:
  - stage: terraformInitandfmt
    displayName: "Terraform install, init and fmt"

    jobs:
      - job: terraformInstall
        displayName: "Terraform Install & Init"

        steps:
          - task: TerraformInstaller@1
            displayName: "Install Terraform"
            inputs:
              terraformVersion: 'latest'

          - task: TerraformTaskV2@2
            displayName: "Terraform Init"
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
              backendServiceArm: 'akkc_agent_sp'
              backendAzureRmOverrideSubscriptionID: 'c0748677-9808-4356-8816-dc8088c5bb59'
              backendAzureRmResourceGroupName: 'tfstatefile_rg_for_all_do_not_delete'
              backendAzureRmStorageAccountName: 'tfstatestgaccg2b17'
              backendAzureRmContainerName: 'akkcagentcontainer'
              backendAzureRmKey: 'dev.terraform.tfstate'
