parameters:
  - name: environment
    type: string
    default: dev
    values: [dev, staging, prod]

resources:
  repositories:
    - repository: akkcrepo
      type: gitHub
      endpoint: github.com_akkc01
      name: akkc01/short_assignment_terraform_pipeline

trigger:
  branches:
    include:
      - main
      - features/*
    exclude:
      - prod

pool:
  name: akkc_agent

variables:
  tfstateKey: '${{ parameters.environment }}.terraform.tfstate'
  tf_working_dir: '$(System.DefaultWorkingDirectory)/env/${{parameters.environment}}'
  tf_rg: 'my-rg-test1'
  tf_storage: 'demostorage9451'
  tf_container: 'tfstate'
  sc_name: 'akkc_agent_sp'

stages:

# ---------------------------
# 1. Init + fmt
# ---------------------------
- stage: terraformInitandfmt
  displayName: "Initial stage"
  jobs:
  - job: terraformInit
    displayName: "Terraform Init + Fmt"
    steps:
      - checkout: self

      - template: templates/terraform-init.yml@akkcrepo
        parameters:
          tf_working_dir: $(tf_working_dir)
          tf_rg: $(tf_rg)
          tf_storage: $(tf_storage)
          tf_container: $(tf_container)
          tfstateKey: $(tfstateKey)
          sc_name: $(sc_name)
      - script: ls -R
        displayName: "DEBUG: Show Files"



# # ---------------------------
# # 2. Scanning
# # ---------------------------
# - stage: terraformScanning
#   dependsOn: terraformInitandfmt
#   jobs:
#   - template: templates/security-scan.yml@self
#     parameters:
#       tf_working_dir: $(tf_working_dir)

# # ---------------------------
# # 3. Validate + Plan
# # ---------------------------
# - stage: terraformValidatePlan
#   dependsOn: terraformScanning
#   jobs:
#   - template: templates/terraform-validate-plan.yml
#     parameters:
#       tf_working_dir: $(tf_working_dir)
#       tf_rg: $(tf_rg)
#       tf_storage: $(tf_storage)
#       tf_container: $(tf_container)
#       tfstateKey: $(tfstateKey)
#       sc_name: $(sc_name)

# # ---------------------------
# # 4. Manual Approval
# # ---------------------------
# - stage: manualApproval
#   dependsOn: terraformValidatePlan
#   condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
#   jobs:
#   - template: templates/terraform-approval.yml

# # ---------------------------
# # 5. Apply
# # ---------------------------
# - stage: terraformApply
#   dependsOn: manualApproval
#   condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
#   jobs:
#   - template: templates/terraform-apply.yml
#     parameters:
#       tf_working_dir: $(tf_working_dir)
#       tf_rg: $(tf_rg)
#       tf_storage: $(tf_storage)
#       tf_container: $(tf_container)
#       tfstateKey: $(tfstateKey)
#       sc_name: $(sc_name)

# # ---------------------------
# # 6. Destroy
# # ---------------------------
# - stage: terraformDestroy
#   dependsOn: terraformApply
#   condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
#   jobs:
#   - template: templates/terraform-destroy.yml
#     parameters:
#       tf_working_dir: $(tf_working_dir)
#       tf_rg: $(tf_rg)
#       tf_storage: $(tf_storage)
#       tf_container: $(tf_container)
#       tfstateKey: $(tfstateKey)
#       sc_name: $(sc_name)
