parameters:
  - name: environment
    displayName: "Choose Environment"
    type: string
    default: dev
    values:
      - dev
      - staging
      - prod

trigger:
  branches:
    include:
      - main
      - features/*
    exclude:
      - prod

pool:
  name: akkc_agent

variables:
  # Backend Key
  tfstateKey: '${{ parameters.environment }}.terraform.tfstate'

  # Working directory
  tf_working_dir: '$(System.DefaultWorkingDirectory)/env/${{parameters.environment}}'

  # Storage
  tf_rg: 'my-rg-test1'
  tf_storage: 'demostorage9451'
  tf_container: 'tfstate'
  sc_name: 'akkc_agent_sp'

stages:
- stage: terraformInitandfmt
  displayName: "Terraform install, init and fmt"
  jobs:
    - job: terraformInstall
      displayName: "Install Terraform"
      steps:
        - task: TerraformInstaller@1
          displayName: "Install Terraform"
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          displayName: "Terraform Init"
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(tf_working_dir)'
            backendServiceArm: '$(sc_name)'
            backendAzureRmResourceGroupName: '$(tf_rg)'
            backendAzureRmStorageAccountName: '$(tf_storage)'
            backendAzureRmContainerName: '$(tf_container)'
            backendAzureRmKey: '$(tfstateKey)'
        - task: TerraformTask@5
          displayName: "Terraform fmt"
          inputs:
            provider: 'azurerm'
            command: 'custom'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            outputTo: 'console'
            customCommand: 'fmt'
            environmentServiceNameAzureRM: '$(sc_name)'

- stage: terraformValidatePlan
  displayName: "Terraform Validate Plan"
  dependsOn: terraformInitandfmt
  jobs:
    - job: terraformvalidatePlan
      displayName: "Terraform Validate and Plan"
      steps:
        - task: TerraformTask@5
          displayName: "Terraform Init"
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(tf_working_dir)'
            backendServiceArm: '$(sc_name)'
            backendAzureRmResourceGroupName: '$(tf_rg)'
            backendAzureRmStorageAccountName: '$(tf_storage)'
            backendAzureRmContainerName: '$(tf_container)'
            backendAzureRmKey: '$(tfstateKey)'
        - task: TerraformTask@5
          displayName: "Terraform Validate"
          inputs:
            provider: 'azurerm'
            command: 'validate'
            workingDirectory: '$(tf_working_dir)'
        - task: TerraformTask@5
          displayName: "Terraform Plan"
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(tf_working_dir)'
            environmentServiceNameAzureRM: '$(sc_name)'

- stage: manualApproval
  displayName: "Manual Approval Required"
  dependsOn: terraformValidatePlan
  condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
  jobs:
    - job: approvalJob
      displayName: "Waiting for Boss Approval"
      pool: server

      steps:
        - task: ManualValidation@1
          displayName: "Boss Approval Required"
          inputs:
            notifyUsers: 'amitkkc01@gmail.com'
            approvers: 'amitkkc01@gmail.com'
            instructions: 'Please approve Terraform APPLY for MAIN branch.'
            timeout: '120'

# - stage: terraformApply
#   displayName: Terraform Apply
#   dependsOn: manualApproval
#   condition: eq(variables['Build.SourceBranch'], 'refs/heads/main')
#   jobs:
#     - job: terraformApplyJob
#       displayName: Terraform Apply Job
#       steps:
#         - task: TerraformTask@5
#           displayName: "Terraform Init"
#           inputs:
#             provider: 'azurerm'
#             command: 'init'
#             workingDirectory: '$(tf_working_dir)'
#             backendServiceArm: '$(sc_name)'
#             backendAzureRmResourceGroupName: '$(tf_rg)'
#             backendAzureRmStorageAccountName: '$(tf_storage)'
#             backendAzureRmContainerName: '$(tf_container)'
#             backendAzureRmKey: '$(tfstateKey)'
#         - task: TerraformTask@5
#           displayName: "Terraform Apply"
#           inputs:
#             provider: 'azurerm'
#             command: 'apply'
#             environmentServiceNameAzureRM: '$(sc_name)'
